@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-cafe antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-cafe;
  }
}

@layer utilities {
  .section-padding {
    @apply px-6 py-16 md:py-24;
  }
}
