.dashboard-terapeuta[data-v-21d99988]{font-family:system-ui,-apple-system,sans-serif}@keyframes spin-21d99988{to{transform:rotate(1turn)}}.animate-spin[data-v-21d99988]{animation:spin-21d99988 1s linear infinite}
